.nav-bar {
  width: 100%;
  background-color: rgb(97, 97, 97);
}
.nav-bar ul {
  padding: 20px 0;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  margin-left: 50px;
  list-style: none;
}

.nav-bar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}

.nav-bar ul li a.active {
  color: red;
}
